<footer id="footer" class="cb-grid-wrapper p-h-xl">
  <div class="cb-grid">
    <hr class="thick">
    <div class="cb-auto">
      Made with ❤
    </div>
    <div class="cb-auto text-right">
      <a href="https://zerooctave.ca" alt="homepage of Jordan McCracken"><b>zerooctave</b></a>
    </div>
  </div>
</footer>

<script>
  function recipeHoverOn(x) {
    x.style.opacity = "1";
    x.style.transform = "scale(1.05)";
  }

  function recipeHoverOff(x) {
    x.style.opacity = "0.6";
    x.style.transform = "scale(1)";
  }

  function openNav() {
    document.getElementById("sidebar-id").style.left = "0";
    document.getElementById("main-content").style.marginLeft = "30%";
    document.getElementById("footer").style.marginLeft = "30%";
    document.getElementById("menu-open").style.display = "none";
    document.getElementById("menu-close").style.display = "inline-block";
  }

  function closeNav() {
    document.getElementById("sidebar-id").style.left = "-30%";
    document.getElementById("main-content").style.marginLeft = "0";
    document.getElementById("footer").style.marginLeft = "0";
    document.getElementById("menu-close").style.display = "none";
    document.getElementById("menu-open").style.display = "inline-block"
  }

  function openMobileNav() {
    document.getElementById("mobile-menu-id").style.height = "100%";
    document.getElementById("mobile-menu-open").style.display = "none";
    document.getElementById("mobile-menu-close").style.display = "inline-block";
  }

  function closeMobileNav() {
    document.getElementById("mobile-menu-id").style.height = "0%";
    document.getElementById("mobile-menu-close").style.display = "none";
    document.getElementById("mobile-menu-open").style.display = "inline-block"
  }
</script>
