<header class="cluster" style="justify-content: space-between">
  <h1 class="font-size-base text-uppercase"><a href="{{ site.url }}">{{ site.title }}</a></h1>
  <nav class="cluster text-uppercase" style="justify-content: flex-start;">
    <div class="nav-item"><a href="{{ 'recipes/mains' | relative_url }}">Mains</a></div>
    <div class="nav-item"><a href="{{ 'recipes/sides' | relative_url }}">Sides</a></div>
    <div class="nav-item"><a href="{{ 'recipes/sauces' | relative_url }}">Sauces</a></div>
    <div class="nav-item"><a href="{{ 'recipes/treats' | relative_url }}">Treats</a></div>
  </nav>
</header>
