<header class="container d-flex flex-row flex-wrap v-center p-t-m p-b-xxl text-uppercase text-s">
  <div class="vh-center">
    <img src="/assets/imgs/cauldron.svg" width="80px">
  </div>

  <div class="flex-1 flex-col">
    <span class="w-100 d-block text-bold">Final Cooking Fantasy</span>
    <span class="w-100 d-block text-s text-subtle text-uppercase">
      <a href="/index.html">recipes</a> > <a style="color: var(--green);" href="/{{ page.category }}.html">{{ page.category }}</a>
    </span>

  </div>
  <hr class="thick w-100">
</header>
