  <nav class="" style="height: 100%;">
    <a href="{{ "mains.html" | relative_url }}" class="cb-4 p-v-xl vh-center text-xl plain-link">Mains</a>
    <a href="{{ "snacks.html" | relative_url }}" class="cb-4 p-v-xl vh-center text-xl plain-link">Snacks</a>
    <a href="{{ "sauces.html" | relative_url }}" class="cb-4 p-v-xl vh-center text-xl plain-link">Sauces</a>
    <a href="{{ "desserts.html" | relative_url }}" class="cb-4 p-v-xl vh-center text-xl plain-link">Desserts</a>
    <a href="{{ "admin" | relative_url }}" class="cb-4 p-v-xl vh-center text-xl plain-link">Admin</a>
  </nav>
