<header class="w-100 vh-center flex-col">
  <img src="{{ "assets/imgs/cauldron.svg" | relative_url }}" width="40%">
  <h1 class="d-inline w-a text-r text-bold text-uppercase"><a href="../index.html" class="plain-link">Final Cooking Fantasy</a></h1>
</header>

<nav class="w-100 vh-center flex-col">
  <a href="{{ "mains.html" | relative_url }}" class="menu-item plain-link w-60 space-between p-xxs">
    <span class="d-block">Mains</span><span class="d-block"><img src="{{ "assets/imgs/cauldron.svg" | relative_url }}" width="18px"></span>
  </a>
  <a href="{{ "snacks.html" | relative_url }}" class="menu-item plain-link w-60 space-between p-xxs">
    <span class="d-block">Snacks</span><span class="d-block"><img src="{{ "assets/imgs/cauldron.svg" | relative_url }}" width="18px"></span>
  </a>
  <a href="{{ "sauces.html" | relative_url }}" class="menu-item plain-link w-60 space-between p-xxs">
    <span class="d-block">Sauces</span><span class="d-block"><img src="{{ "assets/imgs/cauldron.svg" | relative_url }}" width="18px"></span>
  </a>
  <a href="{{ "desserts.html" | relative_url }}" class="menu-item plain-link w-60 space-between p-xxs">
    <span class="d-block">Desserts</span><span class="d-block"><img src="{{ "assets/imgs/cauldron.svg" | relative_url }}" width="18px"></span>
  </a>
  <a href="{{ "admin" | relative_url }}" class="menu-item plain-link w-60 space-between p-xxs">
    <span class="d-block">Admin</span><span class="d-block"><img src="{{ "assets/imgs/cauldron.svg" | relative_url }}" width="18px"></span>
  </a>
</nav>
