<!DOCTYPE html>
<html>
{% include head.html %}

<body>

  <section id="sidebar-id" class="sidebar vh-center flex-col">
    {% include side.html %}
  </section>

  <section id="mobile-menu-id" class="mobile-menu">
    {% include mobile-menu.html %}
  </section>

  <div id="main-content">
    <div class="w-100 p-b-xl sidebar-button">
      <span id="menu-open" class="menu-toggle p-h-m p-v-s text-uppercase" onclick="openNav()">Open</span>
      <span id="menu-close" class="menu-toggle p-h-m p-v-s text-uppercase" onclick="closeNav()">Close</span>
    </div>
    <div class="mobile-menu-button">
      <span id="mobile-menu-open" class="menu-toggle p-h-m p-v-s text-uppercase" onclick="openMobileNav()">Open</span>
      <span id="mobile-menu-close" class="menu-toggle p-h-m p-v-s text-uppercase" onclick="closeMobileNav()">Close</span>
    </div>

    <main class="cb-grid-wrapper p-xl">
      <div class="cb-grid">
        {{ content }}
      </div>
    </main>

  </div>

  {% include footer.html %}

</body>

</html>
