{% include head.html %}

<body>
  <div class="cover">
    {% include header.html %}

    <div class="centered">
      <div class="stack">
        <h2 class="font-size-jumbo">{{ page.title }}</h2>
        <div class="stack-large">
          <b class="font-size-big">Notes</b>
          <hr>
          <div class="stack">
          {{ content }}
          </div>
        </div>
        <div class="cb-grid">
          <div>
            <b class="font-size-big">What's in it</b>
            <hr>
            <ul>
              {% for ingredient in page.ingredients %}
              <li>{{ ingredient }}</li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <b class="font-size-big">What to do</b>
            <hr>
            <ul class="stack">
              {% for step in page.steps %}
              <li>{{ step }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="frame frame-large">
          <img src="{{ 'assets/imgs/' | relative_url }}{{ page.picture }}.jpg">
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>
</body>

</html>
